*.a
*.dll
*.dylib
*.exe
*.moc
*.o
*.rcc
*.so
*.so.1
*.patch
*.rar
*.so.1
bsnes+.app
project/bsnes-plus.xcodeproj/xcuserdata
project/bsnes-plus.xcodeproj/project.xcworkspace/xcuserdata
bsnes-plus.xccheckout
redist
